<!DOCTYPE html>           
<html lang="en">
  <head>
    <style>
     .sidebar {

      position: fixed;

      }
      
    </style>
    <title>procedure</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <body>
        
        <div class="wrapper d-flex align-items-stretch" >
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
                <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Vehicle Hub</a></h1>
            <ul class="list-unstyled components mb-5">
              <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/reg ">Registration Procedure and documents </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/reg1">Registration of new vehicle</a>
                </li>
           
                </ul>

               <li>
                    <a href="http://127.0.0.1:5000/vi">Vehicle insurance</a>
                </li>
              <li>

               
              </li>

              <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Driving Licenses</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><li>
                    <a href="http://127.0.0.1:5000/dl">Driving License in Maharashtra </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/dl1">Types of Driving License  </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/dl2">application Process</a>
                </li>
              </ul>
              </li>

              <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">National permit </a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a href="http://127.0.0.1:5000/np">National permit issuance process</a>
                </li>
                <li>
                <li>
                    <a href="http://127.0.0.1:5000/np1">Online Application Process</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np2">Check National Permit Status </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np3">Online Payment </a>
                </li>
                 <li>
                    <a href="http://127.0.0.1:5000/np4">Rules and Condition </a>
                </li>
              </ul>
              </li>
              
            <li>
                    <a href="http://127.0.0.1:5000/fn">Fancy Number</a>
                </li>
              <li>





          </div>


        </nav>
     <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4"><u>What are RTO procedures ?</u></h1>
<h5><p> Like many other RTO offices, Maharashtra’s department has to look after registration, licenses and many other things. However, there are two main services that the Maharashtra RTO provides. One of them is vehicle registration, which ensures that the car belongs to its owner. Second is providing driver license. Every driver has to possess a license to drive a vehicle in the state of Maharashtra.
</p>

<p>With those services, there are other things that Maharashtra RTO provides like pollution control, transfer certificate, temporary permit, special permit application, landing bill, registration renewal, temporary permit, all India tourist vehicle permit, goods carriage permit, and driving tests.</p></h5>



  <div class="card-img">
                <img margin-left: auto 
  margin-right: auto 
  width: 50% src="{{ url_for('static',filename='assets/img/RTO.jpg')}}" alt="...">
              </div>
    
        <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/popper.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/main.js')}}"></script>
  </body>
</html>