<!DOCTYPE html>           
<html lang="en">
  <head>
    <style>
     .sidebar {

      position: fixed;

      }
     .button2 {background-color: #8c1aff; border-radius: 10px; padding: 10px 20px;} 
      
    </style>
    <title>Counting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <body>
        
        <div class="wrapper d-flex align-items-stretch" >
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
                <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Vehicle Hub</a></h1>
            <ul class="list-unstyled components mb-5">
              <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/reg">Registration Procedure and documents </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/reg1">Registration of new vehicle</a>
                </li>
           
                </ul>

               <li>
                    <a href="http://127.0.0.1:5000/vi">Vehicle insurance</a>
                </li>
              <li>

               
              </li>

              <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Driving Licenses</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><li>
                    <a href="http://127.0.0.1:5000/dl">Driving License in Maharashtra </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/dl1">Types of Driving License </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/dl2">application Process </a>
                </li>
              </ul>
              </li>

              <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">National permit </a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a href="http://127.0.0.1:5000/np">National permit issuance process</a>
                </li>
                <li>
                <li>
                    <a href="http://127.0.0.1:5000/np1">Online Application Process</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np2">Check National Permit Status </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np3">Online Payment </a>
                </li>
                 <li>
                    <a href="http://127.0.0.1:5000/np4">Rules and Condition </a>
                </li>
              </ul>
              </li>
              
            <li>
                    <a href="http://127.0.0.1:5000/fn">Fancy Number</a>
                </li>
              <li>





          </div>


        </nav>
        <div class="text-right">
<a href="http://127.0.0.1:5000/"><button class="button2">HOME</button></div></a> 

     <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4"><u>Types of Driving License in Maharashtra</u></h1>
<h5><p> You can opt for a driving license in Maharashtra on the basis of the type of vehicle you wish to drive. The state transport department of Maharashtra offers you the below types of driving license you wish to operate.</p>



<p>Transport Vehicle: Applicants who want to drive commercial and goods carriage vehicles can apply for this driving license type.
<br>A transport vehicle driving license is further classified into the following types/categories:
</p>
    
<h4><p>A non-transport driving license type is based on the following categories of DL:</p>

</p>

<h5><p> • Motorcycles with gear: this category includes all motor vehicle types having gear transmission.</br>
• Motorcycles without gear: this category includes vehicles such as mopeds and scooters</br>
• Light motor vehicle: this category includes hatchbacks, sedans, etc.</br>

</p>
    
    <h4><p>Eligibility Criteria for obtaining a Driving License in Maharashtra</p>

<h5><p> Before applying for a driving license, it’s important you meet the requirements of the eligibility criteria for obtaining a DL in Maharashtra.<br></br>
• To be eligible to apply for a permanent driving license in Maharashtra, an individual should first have a learner’s license.</br>
• An individual can apply for a permanent DL 30 days after the learner’s license is issued and within 180 days from the date of issue of the learner’s license</br>
• To apply for a driving license for a two-wheeler with engine capacity not exceeding 50 cc, individuals should be above the age of 16 years.</br>
• To apply for a driving license for a motor vehicle such as a car, sedan, etc, an individual should be above the age of 20 years.</br>


</p>
<h4><p>Documents required for obtaining a Driving License in Maharashtra</p>
<h5><p> The below documents are required for obtaining a driving license in Maharashtra.<br></br>
• Age proof: (An applicant can submit any one document from the following)</br></br>
1.  Birth Certificate</br>
2.  Voter’s ID card</br>
3.  School leaving certificate</br>
4.  Pan card</br></br></br>
5.  Passport</br></br>
6.  Address proof: (An applicant can submit any one document from the following)</br></br>

• Passport</br>
• Life insurance policy</br>
• Ration card</br>
• Utility bills such as electricity bill, telephone bill, etc</br>
• Pay slip issued by the state or central government</br></br>

Other documents:</br></br>

• Original learner’s license</br>
• Application form no.4</br>
• 3 passport size photographs</br>






<div class="text-left" >
<a href="http://127.0.0.1:5000/dl2"><button class="button2" >NEXT</button></div></a>
  </body>
</html>