<!DOCTYPE html>           
<html lang="en">
  <head>
    <style>
     .sidebar {

      position: fixed;

      }
     .button2 {background-color: #8c1aff; border-radius: 10px; padding: 10px 20px;} 
      
    </style>
    <title>Counting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <body>
        
        <div class="wrapper d-flex align-items-stretch" >
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
                <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Vehicle Hub</a></h1>
            <ul class="list-unstyled components mb-5">
              <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/reg">Registration Procedure and documents </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/reg1">Registration of new vehicle</a>
                </li>
           
                </ul>

               <li>
                    <a href="http://127.0.0.1:5000/vi">Vehicle insurance</a>
                </li>
              <li>

               
              </li>

              <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Driving Licenses</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><li>
                    <a href="http://127.0.0.1:5000/dl">Driving License in Maharashtra </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/dl1">Types of Driving License </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/dl2">application Process </a>
                </li>
              </ul>
              </li>

              <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">National permit </a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a href="http://127.0.0.1:5000/np">National permit issuance process</a>
                </li>
                <li>
                <li>
                    <a href="http://127.0.0.1:5000/np1">Online Application Process</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np2">Check National Permit Status </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np3">Online Payment </a>
                </li>
                 <li>
                    <a href="http://127.0.0.1:5000/np4">Rules and Condition </a>
                </li>
              </ul>
              </li>
              
            <li>
                    <a href="http://127.0.0.1:5000/fn">Fancy Number</a>
                </li>
              <li>





          </div>


        </nav>
        <div class="text-right">
<a href="http://127.0.0.1:5000/"><button class="button2">HOME</button></div></a> 

     <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4"><u>Online application Process for Driving License in Maharashtra:</u></h1>

<h5><p> The Maharashtra state government has made driving application process an easy procedure as you can now easily get the form online and can also submit documents online.<br><br>

You will have to follow the below steps to get a driving license online in Maharashtra:
</p>





<h5><p> 
• Visit sarathi.nic.in, ministry of road transport and highways website.</br>
• On the homepage, click on the ‘driving license’ tab and download the form for a new driving license. You will get form number 4 i.e. the application form for obtaining a permanent driving license.</br>
• Fill in all the details in the form and submit the form online with the supporting documents.</br>
• You will then receive an application number and a notification notifying you that your application has been processed.</br>
• You can then go ahead and book an appointment for your driving license test.</br>
• To book an appointment for your driving license test, you will have to follow the below procedure:</br>
• Visit sarathi.nic.in and on the homepage select the ‘appointment for slot booking’ option.</br>
• Fill in your details on the page and select the suitable date and time for your test.</br>
• Once you have scheduled the appointment, visit the RTO for your driving with your original documents.</br>
• If you pass the test, you will receive your driving license by post at your registered address.</br>
</br>


</p>
<h1><p>Offline application process for Maharashtra driving license</p>
<h4><p>Individuals in Maharashtra can apply for a driving license offline by visiting the nearest RTO office in their area.

<h5><p> T•  You will have to procure the form from the RTO office and submit it there with all the relevant documents.
</br>
• On submission of the form and documents, your application will be verified and you will get a confirmation about your eligibility for DL.</br>
• If you are eligible, then you will have to visit the RTO office for your driving test.</br>
• For the driving test, you will have to carry all your original documents.</br>
• If you pass the test, you will have to receive your driving license by post.
</br></br>






<div class="text-left" >
<a href="http://127.0.0.1:5000/np"><button class="button2" >NEXT</button></div></a>
  </body>
</html>