<!DOCTYPE html>           
<html lang="en">
  <head>
    <style>
     .sidebar {

      position: fixed;

      }
     .button2 {background-color: #8c1aff; border-radius: 10px; padding: 10px 20px;} 
      
    </style>
    <title>Counting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <body>
        
        <div class="wrapper d-flex align-items-stretch" >
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
                <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Vehicle Hub</a></h1>
            <ul class="list-unstyled components mb-5">
              <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/reg">Registration Procedure and documents </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/reg1">Registration of new vehicle</a>
                </li>
           
                </ul>

               <li>
                    <a href="http://127.0.0.1:5000/vi">Vehicle insurance</a>
                </li>
              <li>

               
              </li>

              <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Driving Licenses</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><li>
                    <a href="http://127.0.0.1:5000/dl">Driving License in Maharashtra </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/dl1">Types of Driving License </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/dl2">application Process </a>
                </li>
              </ul>
              </li>

              <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">National permit </a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a href="http://127.0.0.1:5000/np">National permit issuance process</a>
                </li>
                <li>
                <li>
                    <a href="http://127.0.0.1:5000/np1">Online Application Process</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np2">Check National Permit Status </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np3">Online Payment </a>
                </li>
                 <li>
                    <a href="http://127.0.0.1:5000/np4">Rules and Condition </a>
                </li>
              </ul>
              </li>
              
            <li>
                    <a href="http://127.0.0.1:5000/fn">Fancy Number</a>
                </li>
              <li>





          </div>


        </nav>
        <div class="text-right">
<a href="http://127.0.0.1:5000/"><button class="button2">HOME</button></div></a> 

     <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4"><u>What is a fancy number for your vehicle?</u></h1>

<h5><p> A fancy number could be anything like 8888 or 0022 or 1111, etc. It could be your favourite numbers like your date of birth or any other number that you might be fascinated with, maybe in terms of astrology or numerology, etc. Whatever, be the case if you wish to register your vehicle with a specific number of your choice, it comes at a particular cost and is considered as a “FANCY” number.<br>
As per The Motor Vehicles Act of 1988, all vehicle owners must get their vehicles registered as per the RTO number plate rules and fix the vehicle number plate on the back and front side of the vehicle, irrespective of you having any fancy number plate or not. Maharashtra, being one of the busiest states in India has the same rule, so if you are staying in any part of MaharaThe procedure of fancy number booking in Maharasht



<br><br>

<h1>The procedure of fancy number booking in Maharashtra

<h5>If you are looking for RTO fancy number booking Maharashtra for your vehicle in Mumbai or any other part of Maharashtra, you need to follow this step by step procedure to get a fancy number booking in Maharashtra:<br><br>


<h4>Step 1: Application-<br>
<h5>You need to submit an application at the respective registering authority or the RTO nearest to your location
To know the RTO for your area, click here.<br>
Payment of Fees–<br>
You will have to pay the required fees for fancy number booking in Maharashtra, either you can carry a demand draft or you can pay at the RTO office as well. The RTO officer will help you in paying the fee online from the official site of “Vahan “portal<br>

<h4>Selection of the fancy number–<br>
<h5>As per your category of vehicle, the RTO Maharashtra choice number list will be shown to you in the selected series like MH539E, etc. and you can choose accordingly<br>


<h4>Allotment of the Fancy Number for your vehicle in Maharasthra-<br>

<h5>The new or the fancy number will be allotted to you and the RTO will generate the fancy number receipt, which will be attached to the new transaction for registration and verification thereafter. Here you need to use your user id, password, and verification code in the “Vahan” portal to do the needful as your vehicle fancy number will be registered online at this stage. In this stage there are 3 processes which you need to follow:<br>
Recording of the New registration<br>
For your vehicle in Maharasthra with the fancy number<br>
Verification for the New registration<br>
For your vehicle from the dealer that you have bought the vehicle from<br>
Approval for the New registration<br>
Once the verification has been successfully done, your fancy number would be approved for the registration of your new vehicle<br>


<h4>The input of vehicle details-<br>

<h5>After the number has been allocated and the vehicle has been verified, you need to enter your input the details online for the registration purpose. The details that need to be entered are:<br>
Vehicle chassis number which is unique to your vehicle<br>
The last 5 characters of the engine number and <br>
Then choose the registration as “New” and <br>
Then select “Yes” in the Advance Registration No Allotted key and <br>

Then enter your personal details as the owner of the vehicle like:<br>
Your name <br>
Address<br>
Contact details<br>
And other personal details, as requested<br>


<h4>Receipt Number-<br>
<h5>

<h4>Approval–<br>
<h5>This is the last stage where your new registration gets approved and your vehicle is allotted a fancy number<br>


<h4>Auction process-<br>
<h5>There might be a situation when there are multiple requests for a specific registration number. In such cases, the allotment is usually done by the process of an auction<br><br>


<h2>Auction Process for fancy number booking in Maharashtra<br>

<h5>If there is a request for a specific fancy number in Maharasthra and there are multiple applications for the same registration number, the respective RTO follows the process of auction which is done in 2 stages, one by the RTO and then you as a user can go online and do the needful.<br>


<h4>Step 1: The RTO Process:<br>

<h5>You need to log into the “Vahan” portal by clicking on” Public log in”<br>

Then, you need to register yourself if you have not signed up earlier already<br>

Once you log in, you can select your choice of the number<br>

You would then need to click on ‘Number Selection’ button after which the applicant home page will be shown where you need to select your RTO, type, and category of your vehicle<br>

You will then be able to see the RTO Maharashtra choice number list available for getting a fancy number<br>

Check the availability of any by clicking on ‘Check availability’ button and choose the number of your choice from the ones available<br>

https://vahan.parivahan.gov.in/fancy/faces/public/checkfancynumberavailability.xhtml<br>

Once you select the number, you need to go to continue registration and register your new vehicle number by giving your details and proceed to enter the details of the demand draft for fancy number booking in Maharashtra<br>

After the demand draft gets approved, you can participate in the bidding
You can increase your bid as well in multiples of INR 1000<br>
<br>
<h4>Step 2: Public User<br>


<h5>You again need to log into the “Vahan” portal by clicking on” Public log in”<br>
Then, you need to select ‘Auctioning’ from the dropdown menu of other Services<br>
The form will have your registration mark, the reserve price, your bidding amount and the highest bid amount<br>
The result of the auction shown after the bidding process done online is closed and if you are the winner then you need to submit the details of the demand draft and proceed with the new registration as mentioned above<br>
There is an Auction Process for a VIP number as well. The fees can be crazy and it varies from place to place as there is an auction process for the same. This money is a great source of revenue for the RTO of Maharashtra.<br>

Elements of the vehicle number plate and the significance<br>
You must have noticed various patterns and alphabets with numbers and wondered what are those. You will get to know about the same from below:<br>

Let us take the example of MH-01-AB-1234 IND<br>
<br>
<h4>1st Two Letters: MH<br>
<h5>The first two letters of your Vehicle Number Plate imply the state or the region in which your vehicle is registered with the respective RTO. For example: if your vehicle is registered in Maharashtra then your vehicle will be allocated MH which is the code of the State.<br>
The next two numbers: 01<br>
This denotes the district where your vehicle is being registered. This number differs from each district as all districts have a different Regional Transport Office. So, the numbers 01 refers to a particular RTO in Maharashtra.<br>
<h4>The 3rd section: AB-1234<br>

<h5>This portion in your Vehicle Number Plate is the exclusive numerical grouping which is given to the vehicle. This is a combination of 2 letters and 4 digits, which is unique to your vehicle. This is the FANCY NUMBER that you have registered, which are bought at the Regional Transport Office in auctions with an additional price.<br>

<h4>The Last part:<br>
<h5>This portion in the Vehicle Number Plate shows a symbol which is IND indicates India. It’s a recent update on the parts of a vehicle number plate. The main purpose is to stop dishonest persons from unlawful doings. This number is used in HSRP which is known as High-Security Registration Plates. HRSP is damage-proof plates that were introduced in 2005 with the purpose of lower the number of burglaries of the vehicles and now it is mandatory for all the vehicles as per the law.
Fees for a fancy number in Maharasthra:<br>
You need to choose your number from the ones available by clicking on “check available”<br>

<h4>https://vahan.parivahan.gov.in/fancy/faces/public/checkfancynumberavailability.xhtml<br>

<h5>The price for the fancy number plate in Maharashtra is mentioned in the list and the fees need to be paid accordingly.<br>

<h4>Here is the sample of the price category for getting a fancy number in Maharashtra:<br>

<h5>Super Elite Category for a number like 0001 is INR 5,00,000<br>
Elite Category for other single-digit numbers like 0002, 0003, 0004, 0005, 0006, 0007, 0008, 0009 is INR 3,00,000<br>
Sequence numbers like 6789, 8888, 9999 and other double-digit numbers like 1122, 0099, etc. are INR 2,00,000<br>
Other fancy numbers like 0300, 0400, 0500, 7000, 9000, etc. are INR 1,00,000.<br>
Getting a fancy number for your vehicle is always exciting and gives a great amount of excitement too. And if you have the passion for driving and a vehicle, getting a fancy number becomes an icing on the cake. So, enjoy your ride but follow the traffic rules and drive carefully.<br>














  </body>
</html>