<!DOCTYPE html>
<html lang="en">

<head>




  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vehicle Hub</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='assets/img/logo.jpeg')}}" rel="icon">
  <link href="{{ url_for('static',filename='assets/img/logo.jpeg')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{{ url_for('static',filename='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i')}}" rel="stylesheet">

  <!--Va6ytVendor CSS Files---->
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">
 
</head>

<body>

<header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light" style="font-size: 60px" ><span>Vehicle Hub</span>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          
          <li class="active"><a href="#header">Home</a></li>
          <li class="active"><a href="#services">Services</a></li>
          <li class="active"><a href="#about">About Us</a></li>
          <li class="active"><a href="#contact">Contacts</a></li
>
          </li>
          </ul>
          
           
      </nav><!-- .nav-menu -->

    </div>
  </header>

  <!-- End Header-->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>We Have Everything Affiliated With Vehicles</h1>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="{{ url_for('static',filename='assets/img/Background.png')}}" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
     <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Services</h2>
         </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
            <div class="card">
              <div class="card-img">
                <img src="{{ url_for('static',filename='assets/img/count - Copy.jpeg')}}" alt="...">
              </div>
              <div class="card-body">
                <h4 class="card-title"><a href="">Vehicle Counting</a></h4>
                 <p class="card-text">Vehicle counting process provides information about numbers of vehicles passed from particular region

        
                <div class="read-more">
                   <li class="nav-item"><a href="http://127.0.0.1:5000/Upload"><i class="icofont-arrow-right"></i>read-more</a></li></div>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
            <div class="card">
              <div class="card-img">
                <img src="{{ url_for('static',filename='assets/img/classi.jpg')}}" alt="...">
              </div>
              <div class="card-body">
                <h4 class="card-title"><a href="">Vehicle Classification</a></h4>
                 <p class="card-text">Classification is based on vehicle dimensions,to distinguish between different kinds of vehicles.
                 </p>
                <div class="read-more"><li class="nav-item"><a href="http://127.0.0.1:5000/Upload3"><i class="icofont-arrow-right"></i>read-more</a></li></div>
               
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
            <div class="card">
              <div class="card-img">
                <img src="{{ url_for('static',filename='assets/img/plate2.jpg')}}" alt="...">
              </div>
             <div class="card-body">
                <h4 class="card-title"><a href="">Number Plate Detection</a></h4>
                 <p class="card-text">Number-plate recognizes vehicle registration plates to create vehicle location data.</p>
                <div class="read-more"><li class="nav-item"><a href="http://127.0.0.1:5000/Upload2"><i class="icofont-arrow-right"></i>read-more</a></li></div>
               
              </div>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
            <div class="card">
              <div class="card-img">
                <img src="{{ url_for('static',filename='assets/img/owner1.jpeg')}}" alt="...">
              </div>
              <div class="card-body">
                <h4 class="card-title"><a href="">Owner Information</a></h4>
                 <p class="card-text">Identifies vehicles and their owner’s information, which will reduce the human burden regarding their vehicle’s safety.</p>
                <div class="read-more"><li class="nav-item"><a href="http://127.0.0.1:5000/Upload1"><i class="icofont-arrow-right"></i>read-more</a></li></div>

           </div>
           </div>
          </div>

		 <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
            <div class="card">
              <div class="card-img">
                <img src="{{ url_for('static',filename='assets/img/pro.jpg')}}" alt="...">
              </div>
              <div class="card-body">
                <h4 class="card-title"><a href="">RTO Procedure</a></h4>
                 <p class="card-text">The Regional Transport Office (RTO) is responsible for registering and keeping track of every vehicle that runs on the roads of India. </p>


        
                <div class="read-more">
                   <li class="nav-item"><a href="http://127.0.0.1:5000/count"><i class="icofont-arrow-right"></i>read-more</a></li></div>
                
              </div>
            </div>
          </div>

   		    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
            <div class="card">
              <div class="card-img">
                <img src="{{ url_for('static',filename='assets/img/one.jpg')}}" alt="...">
              </div>
              <div class="card-body">
                <h4 class="card-title"><a href="">RTO Information</a></h4>
                 <p class="card-text">
The Regional Transport Office is the organization of the Indian government responsible for registration of vehicles and the issue of drivers' licences. 
                 </p>
                <div class="read-more"><li class="nav-item"><a href="http://127.0.0.1:5000/info"><i class="icofont-arrow-right"></i>read-more</a></li></div>
               
              </div>
            </div>
            
        </div>
    </div>



    </section><!-- End Services Section -->

    
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">

        
          <div class="section-title">
          <h2 data-aos="fade-right">About Us</h2>
              <p style="color:gray;font-size:30px" data-aos="fade-left">
             Vehicle Hub is working since 2021 to serve with various vehicle related functions like Vehicle Counting, Vehicle Classification, Number Plate detection, Owner Information.
              This provides a platform to enable the user to analyse different aspects of traffic data.
              </p>
              
              
            </div><!-- End .content-->
          </div>
      
    </section><!-- End About Section -->

   

    
    
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Contact</h2>
          

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box" data-aos="fade-up">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Government Polythenic Aurangabad Usmanpura </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>kishorigaikwad22@gmail.com<br>aishwaryakharde@gmail.com</p>
                  <p>adhishreepatki472@gmail.com<br>mansikulkarni2806@gmail.com</p>

                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+919754676650</p>

                  <p>+919754676650</p


>
                </div>
              </div>




            </div>

          </div>

          <div class="col-lg-6">

            <form action="/index" name="sent-message" method="post" role="form" class="php-email-form" data-aos="fade-up">
              
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" class="php-email-form" >Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  
 <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Vehicle hub</h3>
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="{{params['tw_url']}}" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
          <a href="{{params['fb_url']}}" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
          <a href="{{params['ins_url']}}" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
         
          
        </div>

     
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',filename='assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>

</body>

</html>