<!DOCTYPE html>           
<html lang="en">
  <head>
    <style>
     .sidebar {

      position: fixed;

      }
     .button2 {background-color: #8c1aff; border-radius: 10px; padding: 10px 20px;} 
      
    </style>
    <title>Counting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <body>
        
        <div class="wrapper d-flex align-items-stretch" >
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
                <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Vehicle Hub</a></h1>
            <ul class="list-unstyled components mb-5">
              <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/reg">Registration Procedure and documents </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/reg1">Registration of new vehicle</a>
                </li>
           
                </ul>

               <li>
                    <a href="http://127.0.0.1:5000/vi">Vehicle insurance</a>
                </li>
              <li>

               
              </li>

              <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Driving Licenses</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><li>
                    <a href="http://127.0.0.1:5000/dl">Driving License in Maharashtra </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/dl1">Types of Driving License </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/dl2">application Process </a>
                </li>
              </ul>
              </li>

              <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">National permit </a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a href="http://127.0.0.1:5000/np">National permit issuance process</a>
                </li>
                <li>
                <li>
                    <a href="http://127.0.0.1:5000/np1">Online Application Process</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np2">Check National Permit Status </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np3">Online Payment </a>
                </li>
                 <li>
                    <a href="http://127.0.0.1:5000/np4">Rules and Condition </a>
                </li>
              </ul>
              </li>
              
            <li>
                    <a href="http://127.0.0.1:5000/fn">Fancy Number</a>
                </li>
              <li>





          </div>


        </nav>
        <div class="text-right">
<a href="http://127.0.0.1:5000/"><button class="button2">HOME</button></div></a> 

     <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4"><u>National Permit Online Application Process</u></h1>

<h5><p> IGenerally, for all commercial transportation purposes, you need to apply for a vahan national permit to legally carry out commercial activities in the country. It is important to remember that the national permit validity in India is for 9 years for a motor cab, and for 8 years for other types of motor vehicles.<br>
  <br>

<h3>Before applying for a national permit, you need to have the following documents in place:<br><br>


 
<h5>• Original registration certificate of the vehicle<br>
• Vehicle’s fitness certificate<br>
• Insurance certificate of the vehicle<br>
• Proof of tax payment to the Home state in the current quarter<br>
• Form 46<br>
• Form 48<br>
• Fee for national permit duly paid<br>
• Demand drafts, made in favour of transport authorities, agreed in respect of other states towards payment of taxes<br>
• Proof of green tax payment (wherever applicable)
<br><br><br>

With the above documents, in order to obtain an online national permit, you need to visit your respective Regional Transport Office (RTO). Once you submit the application for the national permit, along with the documents mentioned above and the authorisation national permit fee, the data granting you the national permit will be updated on the Ministry of Road Transport and Highways (MoRTH)’s Parivahan Sewa portal. After the payment is made, your zonal RTO will hand over the Parivahan National Permit to you.
</p>









<div class="text-left" >
<a href="http://127.0.0.1:5000/np2"><button class="button2" >NEXT</button></div></a>
  </body>
</html>