<!DOCTYPE html>           
<html lang="en">
  <head>
    <style>
     .sidebar {

      position: fixed;

      }
     .button2 {background-color: #8c1aff; border-radius: 10px; padding: 10px 20px;} 
      
    </style>
    <title>Counting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <body>
        
        <div class="wrapper d-flex align-items-stretch" >
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
                <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Vehicle Hub</a></h1>
            <ul class="list-unstyled components mb-5">
              <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/reg">Registration Procedure and documents </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/reg1">Registration of new vehicle</a>
                </li>
           
                </ul>

               <li>
                    <a href="http://127.0.0.1:5000/vi">Vehicle insurance</a>
                </li>
              <li>

               
              </li>

              <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Driving Licenses</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><li>
                    <a href="http://127.0.0.1:5000/dl">Driving License in Maharashtra </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/dl1">Types of Driving License </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/dl2">application Process </a>
                </li>
              </ul>
              </li>

              <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">National permit </a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a href="http://127.0.0.1:5000/np">National permit issuance process</a>
                </li>
                <li>
                <li>
                    <a href="http://127.0.0.1:5000/np1">Online Application Process</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np2">Check National Permit Status </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np3">Online Payment </a>
                </li>
                 <li>
                    <a href="http://127.0.0.1:5000/np4">Rules and Condition </a>
                </li>
              </ul>
              </li>
              
            <li>
                    <a href="http://127.0.0.1:5000/fn">Fancy Number</a>
                </li>
              <li>





          </div>


        </nav>
        <div class="text-right">
<a href="http://127.0.0.1:5000/"><button class="button2">HOME</button></div></a> 

     <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4"><u>Step-By-Step Process For Online Payment of National Permit</u></h1>

<h5><p> To have a national permit issued to your vehicle, you are required to pay a requisite amount as fee. Once you have applied for a national permit, a common question that arises later is how to pay national permit fee online. In this digital era, the Ministry of Road Transport and Highways has provided a simple solution to this question via its Parivahan Sewa portal.

<h3>
  To make your national permit online payment, you need to follow the steps mentioned below:
 <br>



<h5>Step 1: Log on to the Parivahan Sewa portal. <br>
Step 2: Under the ‘Online Services’ section on the menu bar, select ‘National Permit’. <br>
Step 3: Under the ‘Payment and Transaction Status’ section, click on ‘Online Payment of National Permit’. <br>
Step 4: You will then be redirected to a new page, where you will be prompted to enter your vehicle’s registration number and the last five characters of your chassis number. <br>
Step 5: You can then make the composite fee payment via card or net banking. <br> <br>



The national permit authorisation for operating throughout the territory of India is granted to you after you have made the national permit payment.









<div class="text-left" >
<a href="http://127.0.0.1:5000/np4"><button class="button2" >NEXT</button></div></a>
  </body>
</html>