<!DOCTYPE html>           
<html lang="en">
  <head>
    <style>
     .sidebar {

      position: fixed;

      }
     .button2 {background-color: #8c1aff; border-radius: 10px; padding: 10px 20px;} 
      
    </style>
    <title>Counting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <body>
        
        <div class="wrapper d-flex align-items-stretch" >
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
                <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Vehicle Hub</a></h1>
            <ul class="list-unstyled components mb-5">
              <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/reg">Registration Procedure and documents </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/reg1">Registration of new vehicle</a>
                </li>
           
                </ul>

               <li>
                    <a href="http://127.0.0.1:5000/vi">Vehicle insurance</a>
                </li>
              <li>

               
              </li>

              <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Driving Licenses</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><li>
                    <a href="http://127.0.0.1:5000/dl">Driving License in Maharashtra </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/dl1">application Process </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/dl2">Types of Driving License</a>
                </li>
              </ul>
              </li>

              <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">National permit </a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a href="http://127.0.0.1:5000/np">National permit issuance process</a>
                </li>
                <li>
                <li>
                    <a href="http://127.0.0.1:5000/np1">Online Application Process</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np2">Check National Permit Status </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np3">Online Payment </a>
                </li>
                 <li>
                    <a href="http://127.0.0.1:5000/np4">Rules and Condition </a>
                </li>
              </ul>
              </li>
              
            <li>
                    <a href="http://127.0.0.1:5000/fn">Fancy Number</a>
                </li>
              <li>





          </div>


        </nav>
        <div class="text-right">
<a href="http://127.0.0.1:5000/"><button class="button2">HOME</button></div></a> 

     <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4"><u>How to Register a Vehicle in Maharashtra RTO</u></h1>
<h5><p> Like any other state in India, for a vehicle to run on the roads of Maharashtra, it first needs to be registered in one of the numerous RTOs present in the state. The Maharashtra Government has made available the facility of registering a vehicle online. The owner of the vehicle that is to be registered can log on to the website: transport.maharashtra.gov.in.
</p></h5>

<h2><p>Procedure and documents required for RTO registration</p></h2>

   <h5><p> Temporary registration of the vehicle: The Maharashtra Government has made it illegal for dealers to sell vehicles to buyers that are not registered by the Motor Vehicles Department of Maharashtra. There are two situations in which the state government allows temporary registration of the vehicles. They are:
If the vehicle requires time for the building of the outer body over the chassis, temporary registration is provided.
If the non-transport vehicles have to be taken to an RTO for registration from the place where they have been bought, temporary registration is provided.
Temporary registration can be availed by the owner of the vehicle via the form C.R Tem.A. Temporary registration of a vehicle in Maharashtra is valid only for a period of 7 days. For non-transport vehicles, the period can still be extended for 30 days.
</p></h5>

    
    


<div class="text-left" >
<a href="http://127.0.0.1:5000/reg1"><button class="button2" >NEXT</button></div></a>
  </body>
</html>