<!DOCTYPE html>           
<html lang="en">
  <head>
    <style>
     .sidebar {

      position: fixed;

      }
     .button2 {background-color: #8c1aff; border-radius: 10px; padding: 10px 20px;} 
      
    </style>
    <title>Counting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <body>
        
        <div class="wrapper d-flex align-items-stretch" >
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
                <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Vehicle Hub</a></h1>
            <ul class="list-unstyled components mb-5">
              <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/reg">Registration Procedure and documents </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/reg1">Registration of new vehicle</a>
                </li>
           
                </ul>

               <li>
                    <a href="http://127.0.0.1:5000/vi">Vehicle insurance</a>
                </li>
              <li>

               
              </li>

              <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Driving Licenses</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><li>
                    <a href="http://127.0.0.1:5000/dl">Driving License in Maharashtra </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/dl1">application Process </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/dl2">Types of Driving License</a>
                </li>
              </ul>
              </li>

              <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">National permit </a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a href="http://127.0.0.1:5000/np">National permit issuance process</a>
                </li>
                <li>
                <li>
                    <a href="http://127.0.0.1:5000/np1">Online Application Process</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np2">Check National Permit Status </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np3">Online Payment </a>
                </li>>
                 <li>
                    <a href="http://127.0.0.1:5000/np4">Rules and Condition </a>
                </li>
              </ul>
              </li>
              
            <li>
                    <a href="http://127.0.0.1:5000/fn">Fancy Number</a>
                </li>
              <li>





          </div>


        </nav>
        <div class="text-right">
<a href="http://127.0.0.1:5000/"><button class="button2">HOME</button></div></a> 

     <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4"><u>Registration of new vehicle:</u></h1>
<h5><p> The Government does not allow the use of an unregistered vehicle in the state. Despite the vehicle being registered in another Indian state, it still needs to be registered in Maharashtra before it can be driven on the road. The vehicle can be directly registered via the dealer by including the registration details on his or her trade certificate. Then the vehicle can be brought for inspection by the Motor Vehicle inspector. After all the processes are completed, a new registration number can be assigned to the vehicle. The documents to be submitted to the RTO are:

<p>•  Form 20 is the form through which the RTO registration of the new vehicle is done.<br>
• Form 21 along with the sales certificate. These have to be provided by the dealer who sold the vehicle to the owner.<br>
• Form 22A should include the declaration of the manufacturer’s compliance with pollution and safety standards and roadworthiness.<br>
• If life-time tax is applicable on purchase of the vehicle, the invoice of the purchase is required.<br>
• For all vehicles except two-wheelers, two copies of the PAN number or Form 60 is to be provided.<br>
• A certificate of insurance of the vehicle.<br>
• A document that acts as proof of address.<br>
• If the vehicle is imported, bill of entry is to be provided.<br>
• If the vehicle to be registered is a carriage, manufacturer’s certificate is also required.<br>
• If the vehicle is a trailer, the Transport Commissioner’s approval of the design of the vehicle is required.<br>
• If a person owns a tractor or a trailer, he or she can avail tax exemption by providing the tehsildar certificate.<br>
• If the vehicle has been bought from outside the state, proof of tax payment is required.<br>
</p>
    



    
    


<div class="text-left" >
<a href="http://127.0.0.1:5000/vi"><button class="button2" >NEXT</button></div></a>
  </body>
</html>