<!DOCTYPE html>           
<html lang="en">
  <head>
    <style>
     .sidebar {

      position: fixed;

      }
     .button2 {background-color: #8c1aff; border-radius: 10px; padding: 10px 20px;} 
      
    </style>
    <title>Counting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <body>
        
        <div class="wrapper d-flex align-items-stretch" >
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
                <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Vehicle Hub</a></h1>
            <ul class="list-unstyled components mb-5">
              <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/reg">Registration Procedure and documents </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/reg1">Registration of new vehicle</a>
                </li>
           
                </ul>

               <li>
                    <a href="http://127.0.0.1:5000/vi">Vehicle insurance</a>
                </li>
              <li>

               
              </li>

              <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Driving Licenses</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><li>
                    <a href="http://127.0.0.1:5000/dl">Driving License in Maharashtra </a>
                </li>
                
                <li>
                    <a href="http://127.0.0.1:5000/dl1">application Process </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/dl2">Types of Driving License</a>
                </li>
              </ul>
              </li>

              <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">National permit </a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a href="http://127.0.0.1:5000/np">National permit issuance process</a>
                </li>
                <li>
                <li>
                    <a href="http://127.0.0.1:5000/np1">Online Application Process</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np2">Check National Permit Status </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/np3">Online Payment </a>
                </li>>
                 <li>
                    <a href="http://127.0.0.1:5000/np4">Rules and Condition </a>
                </li>
              </ul>
              </li>
              
            <li>
                    <a href="http://127.0.0.1:5000/fn">Fancy Number</a>
                </li>
              <li>





          </div>


        </nav>
        <div class="text-right">
<a href="http://127.0.0.1:5000/"><button class="button2">HOME</button></div></a> 

     <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4"><u>Vehicle insurance in Maharashtra:</u></h1>
<h5><p> Every vehicle that is registered under the Motor Vehicles Act of 1998 has to be insured. Any person who has suffered from road accident that has been caused by a vehicle can avail compensation under the provision of Section 140. The types of motor vehicular insurance are:
Third-party policy insurance: This is the cheapest insurance plan that there is. It will only cover any damages caused to the third person during the accident and not damage to own vehicles. These policies are usually one-year renewable plans.
The Comprehensive policy insurance:Unlike the third party insurance, comprehensive policy insurance covers both third-party and own damages, including injuries to the person and damage to the vehicles involved.
If for any reason, the vehicle owner wants a re-issue of the insurance certificate, a duplicate may be availed by visiting the office of the concerned company. Vehicular insurance needs to be transferred to the new owner if there is a change of vehicle ownership. To make a claim for insurance in case of a road accident, the following documents need to be submitted at the office of the concerned company:


<p>•  • Driving licence of the vehicle owner.<br>
• Certificate of insurance of the vehicle.<br>
• Certificate of registration of the vehicle.<br>
• The FIR of the incident.<br>
• The permit of the vehicle.<br>
• Certificate of fitness of the vehicle.<br>
• The estimation report of the incident by the surveyor of the organisation which will provide the insurance

<br>
</p>
    



    
    


<div class="text-left" >
<a href="http://127.0.0.1:5000/dl"><button class="button2" >NEXT</button></div></a>
  </body>
</html>